[Unit]
Description=Resize rootfs on first boot
ConditionFirstBoot=true
After=multi-user.target
Requires=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/openstick-resize-rootfs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
